.siteHeader {
	margin-top: 83px;
	&__content {
		display: grid;
		grid-template-columns: 4fr 6fr;
		align-items: center;
		margin: 2em 5%;
		img {
			max-width: 650px;
		}
		.content__text {
			font-family: "Montserrat", sans-serif;
			max-width: 400px;
			h1 {
				color: #1f2431;
				font-size: 36px;
				font-weight: 700;
			}
			p {
				max-width: 320px;
				color: #82899b;
				padding: 1.5em 0 2.5em;
				font-weight: 300;
			}
			a {
				background-color: #3ec55b;
				padding: 1.042em 4.654em;
				border-radius: 51px;
				font-size: 12px;
				font-weight: 500;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.siteHeader__content {
		justify-items: center;
	}
}
@media only screen and (max-width: 685px) {
	.siteHeader__content {
		grid-template-columns: 1fr;
		justify-items: center;
		img {
			grid-row: 1/2;
			margin-bottom: 2em;
			width: 80%;
		}
		.content__text {
			max-width: 570px;
		}
	}
}
